[2013-05-12 19:32] riegaz opened #1 "Warning has(d,k)"
WARNING: has(d,k) is deprecated, use haskey(d,k) instead.
 in niftiread at /Users/mike/.julia/NIfTI/src/NIfTI.jl:341

Could you fix this please? Or is haskey(d,k) not available in ealier julia version?

I am using latest julia.

cheers

[2013-05-12 19:34] #1 closed, assigned to nobody

[2013-11-25 11:08] rened opened #2 "Tests fail"
When running `julia runtests.jl` I get the following error, running OSX 10.9 or Centos 6.4 and julia `Version 0.2.0+26 (2013-11-18 19:08 UTC)`:

[code]

[2013-12-03 07:48] #2 closed, assigned to nobody

[2014-10-08 17:34] IainNZ opened #3 "[PkgEval] NIfTI may have a testing issue on Julia 0.4 (2014-10-08)"
[PackageEvaluator.jl](https://github.com/IainNZ/PackageEvaluator.jl) is a script that runs nightly. It attempts to load all Julia packages and run their tests (if available) on both the stable version of Julia (0.3) and the nightly build of the unstable version (0.4). The results of this script are used to generate a [package listing](http://pkg.julialang.org/) enhanced with testing results.
####

[2014-10-08 22:36] #3 closed, assigned to nobody

[2015-03-06 19:52] PetrKryslUCSD opened #5 "Image not read correctly?"
I suppose the issue has to do with the difference between 0.3 and 0.4.  In 0.3 I get

julia> using NIfTI

julia> ni=niread("Tutr012BigVolLftEar45um_periotic_bw_sub2-nii.hdr");

julia> size(ni)
(409,282,202,1)

and with 0.4 I get

julia> using NIfTI

julia> ni=niread("Tutr012BigVolLftEar45um_periotic_bw_sub2-nii.hdr");

julia> size(ni)
(409,282,0,0)

There's a bunch of warnings of deprecated featur

[2015-03-06 21:22] simonster commented on #5
Would you mind sending the hdr to simon@simonster.com? The tests pass for me on 0.4 and I can read my volumes, so I don't really have any idea where to start.

I fixed the warnings that are actually coming from this package in cc8728e25445776800efa2f14767c2064c865468. The others are coming from StrPack and would need to be fixed there.

[2015-03-07 02:20] PetrKryslUCSD commented on #5
Hi Simon,

Here is the header file: https://www.dropbox.com/s/lzez4rt26kllnej/Tutr012BigVolLftEar45um_periotic_bw_sub2-nii.hdr?dl=0

Thanks for your help.

Petr

[2015-03-08 16:39] simonster commented on #5
I created a `test.img` file full of zeros to accompany that `hdr` and I get the correct size with `0.4.0-dev+3690`. What is your `versioninfo()`?

[2015-03-08 17:45] PetrKryslUCSD commented on #5
Hi Simon,

I have updated my installation of 0.4, unfortunately with a negative result.
               _
   _       _ _(_)_     |  A fresh approach to technical computing
  (_)     | (_) (_)    |  Documentation: http://docs.julialang.org
   _ _   _| |_  __ _   |  Type "help()" for help.
  | | | | | | |/ _` |  |
  | | |_| | | | (_| |  |  Version 0.4.0-dev+3723 (2015-03-08 05:30 UTC)
 _/ |\__'_|_|_|

[2015-03-08 23:56] simonster commented on #5
I tried on Linux, and this worked fine. I also tried on Windows, and was able to reproduce your output, but while the size is printed wrong, the values are correct, i.e., `size(ni, 3)` is 202 and `size(ni, 4)` is 1. This is a known issue caused by a bug in LLVM (JuliaLang/julia#7434) and not something that can be fixed in this package.

[2015-03-08 23:56] #5 closed

[2015-03-09 02:14] PetrKryslUCSD commented on #5
Curious!  Thank you very much for your help.

Petr

[2015-10-12 07:38] pearcemc opened #6 "Compilation error"
Tried to get this going today, received the following error:
[code]

[2015-10-12 20:36] #6 closed

[2017-01-09 11:54] SimonDanisch opened #7 "Integration with FileIO"
Should we register the NIfTI file format with FileIO?
I guess it'd just be something like this:
[code]
with the magick number instead of the `()` ;)

[2017-01-26 18:49] dpsanders commented on #7
Bump.

[2017-03-16 04:21] Gnimuc commented on #7
+1

[2017-03-16 09:15] SimonDanisch commented on #7
What's holding me back is, that we still don't have a good story for handling zipped files -.-
@timholy, have you already thought about handling that?
I don't know compression very well. Could we just uncompress the header? Uncompressing the whole file as soon as we found out it's a gzip and then passing the uncompressed file to e.g. NIfTI doesn't seem like the right way to do things...

[2017-03-18 18:00] simonster commented on #7
Libz and GZip both offer buffered reading of compressed files, so if you set the buffer size to be small and don't read more than it, that's all that will ever be read from the file.

[2017-03-24 14:27] dagap opened #9 "Reading nifti files on windows 10 with julia 0.5.1"
Just installed the 0.5.1 Julia Pro bundle and installed the package. In attempting to read an unompressed Nifti file on Windows 10, I get the following error:

[code]

On attempting to read a compressed Nifti file, I get:

[code]

[2017-03-24 14:33] attobot opened #10 "Error tagging new release"
The URL of this package does not match that stored in METADATA.jl.
cc: @simonster

[2017-03-24 14:46] #10 closed

[2017-03-27 13:39] dagap commented on #9
This seems to happen only on Windows platform. I tested it on 64-bit Win 10 with Julia 0.5.1. Tested it on Ubuntu 16.04 64 bit and it is working fine.

[2018-04-05 15:05] kleinschmidt opened #14 "scl_slope = 0 should not scale"
The [NIfTI spec](https://nifti.nimh.nih.gov/nifti-1/documentation/nifti1fields/nifti1fields_pages/scl_slopeinter.html) says that the slope/intercept should be used _for nonzero slope_:
[code]
This could be checked when creating the header struct, setting the slope to `1f0` if its zero, or adding a type parameter to the nifti struct and dispatching on that for getindex.

[2018-04-05 15:05] kleinschmidt commented on #14
(or I could keep just using the `.raw` field like I have been doing...)

[2018-09-13 02:26] Tokazama opened #15 "Nightly build fix?"
https://github.com/JuliaIO/NIfTI.jl/blob/98910e59f5f3d752b54132ee90fa7972ccbb7fda/.travis.yml#L12

Looking at the travis check it looks like this `Pkg.clone(pwd())` needs to be replaced with `LibGit2.clone(pwd())`

[2018-09-26 13:03] Tokazama opened #16 "Adding Images.jl support"
I'm trying to update this package and add Images.jl support. I've gotten to the point where I can get `include("./src/NIfTI.jl")` working on Julia 1.0. However, I'm not entirely sure how to proceed with incorporating Image.jl support.

It's suggested [here](https://github.com/JuliaImages/Images.jl/blob/master/docs/src/core.md#image-types) that image types have only two fields (`properties` and `da

[2018-10-11 04:00] jcreinhold opened #18 "Install on Julia 1.0"
I tried to install the package on Julia 1.0 but it failed with a litany of errors. I am new to Julia, so perhaps I am just doing something incorrectly.

My first attempt was to just do:

[code]

Then, after looking at the .travis.yml, I tried:

[code]

Should I try something else or do I just need to roll-back to v0.6?

[2018-10-11 11:03] Tokazama commented on #18
I'm definitely not the expert here (also new to Julia) but my current [pull request](https://github.com/JuliaIO/NIfTI.jl/pull/17) passes all tests in 1.0 and has been working pretty well. I'm currently using it in dev mode though. This means my git clone on file is the default loaded when `using NIfTI`.
[code]
If you're using a lot of packages with 0.6 compatibility but not 1.0 you may want to use

[2018-10-12 15:08] Tokazama commented on #15
This should be fixed with my latest commit

[2018-10-12 16:53] Tokazama commented on #18
Should work now

[2018-10-12 19:34] jcreinhold commented on #18
@Tokazama I tried to re-install and am receiving the following error:

[code]

For what its worth, if I install in the pkg environment I also receive the same message:

[code]

Any thoughts?

[2018-10-12 19:48] jcreinhold commented on #18
Looking at the documentation for v1.0 ([link](https://docs.julialang.org/en/v1.0/stdlib/Pkg/#Creating-your-own-packages-1)), it looks like the REQUIRE file has been completely replaced and dependencies are handled differently. @Tokazama have you modified your environment to handle installation in a different way, by chance?

Also, just wanted to say thank you very much for the help!

[2018-10-12 19:56] Tokazama commented on #18
Did you remove the previous version of NIfTI.jl before re-installing

[2018-10-12 20:16] jcreinhold commented on #18
I used gc to remove old installations and tried again and failed. To make sure I deleted all the cache files, I deleted the .julia directory in ~ and all of the support files as well as the JuliaPro application and re-installed JuliaPro. I receive a similar error:

[code]

[2018-10-12 22:21] Tokazama commented on #18
I've been able to delete and redownload it on my computer but I don't have access to another computer at the moment for further testing. One thing that I find odd is that your registry is under the `/Applications/JuliaPro...`. Where it is usually under `~/.julia/registries/`. I don't know if that has anything to do with it. Usually you would only need to do something like `rm(joinpath(homedir(), "

[2018-10-12 22:43] jcreinhold commented on #18
Thanks for the update @Tokazama and the note about the `REQUIRE` file.

So I was able to install the package (!). I uninstalled JuliaPro and installed the vanilla version and it worked immediately. I'm going to keep this issue open since your PR request hasn't been merged. Thank you for supporting the package and your help @Tokazama

[2018-10-15 10:54] #15 closed

[2018-10-15 12:06] timholy commented on #16
@Tokazama, oh dear, sorry, those docs are ancient. I didn't even realize they were still part of the repository. The Images.jl homepage does link to https://juliaimages.github.io/latest/ which is current, but we should delete those docs.

As @tknopp says, using an ImageMetadata (which is basically the same thing as what you were referencing) could fix the issue. Normalization will be important if

[2018-10-15 12:36] Tokazama commented on #16
I've been going back and forth in my head a lot on this lately and I think the thing to do would be something like a `NiftiImage`

[code]
I don't think we should even worry about tracking those fields that are unused in the NIfTI1 standard (eg, glmax, glmin, etc) since when writing the image those will probably just be given default values. So some `save` function would just check the properties f

[2018-10-15 13:38] timholy commented on #16
Assuming there's lots of Nifti/DICOM-specific stuff in the header, I think that's a really good plan. If one wants to then write it out as a DICOM one could use `@requires` and dispatch on the type.

[2018-10-15 14:00] tknopp commented on #16
Do we really require a dedicated type? Of course dicom and nifti will have additional metadata but having everything resulting in an ImageMetadata object will make the handling much easier from the user perspective. We should introduce required parameters that are normalized when loading and denormalized when saving. This concept for nifti, dicom, nrrd, vtk, and Fürther formats would be awesome.

[2018-10-15 14:10] timholy commented on #16
Hmm, you're right, perhaps run-time checking is a better idea: there's nothing performance-sensitive about testing whether a given image is from a particular file type (you're not checking that on a pixel-by-pixel basis). What about the following standard for the ImageMetadata properties:

[code]
Of course you could extract additional info into other named properties, and perhaps some of these cou

[2018-10-15 14:12] tknopp commented on #16
ping @hofmannmartin who is working together with me on this concept for a different format (MDF). I may also do this for the ISMRMRD format.

[2018-10-15 14:12] Tokazama commented on #16
I don’t think it would really require a dedicated type.

I do think there should be a more modular framework that allows reading just header data. It's not uncommon to want some info from the header before importing the entire image array.

It would also make it easier for other packages to build on NIfTI.jl. I imagine that some would like GIfTI, CIfTI, etc support. This is essentially NIfTI with

[2018-10-15 14:16] timholy commented on #16
NRRD supports `version, header, keyvals, comments = parse_header(io)`. This pattern works if you know you're parsing a `*.nrrd` file. However, figuring out the file type *is* generically supported by FileIO's `query`, so it really just comes down to deciding what should happen subsequently. If we want something generic then we have to think about what kind of common information could be extracted.

[2018-10-15 14:18] tknopp commented on #16
Maybe an "ImageFormats.jl" package is in order. Either this could bundle everything together ( inclusive testing conversions) or it could be the basis.

[2018-10-16 06:47] tknopp commented on #16
I like this. We have three categories:
 * First the things that can be encoded into the AxisArray.
 * Then those parameter were we have some common name. For instance I am storing a rotation matrix in the image. We should have a normalized form here. These parameters could be "toplevel" in the dict. I think we can also agree on things like "subject", "study", and things like this.
 * Finally, all

[2018-10-16 10:36] timholy commented on #16
It already exists:

[code]

[2018-10-16 11:57] Tokazama commented on #16
It looks like a lot of the structure for a standardized format is in place, but I'm not entirely sure of the right way to go about conforming to this. This has been my thought process:

1. I want to be able to read an image into a format that is compatible with the entire "Image" library. However, I don't want to require the entire library in order to read my image into a compatible format (e.g. I

[2018-10-16 12:09] timholy commented on #16
ImageCore = conversions/reinterpretations of values + frequently-used traits
ImageAxis = AxisArrays + trait specializations for AxisArrays
ImageMetadata = ImageAxis + addition info, including additional trait specializations

You shouldn't need anything higher in the stack than this. [Here are ImageMetadata's requirements](https://github.com/JuliaImages/ImageMetadata.jl/blob/master/REQUIRE). No Im

[2018-10-16 17:20] tknopp commented on #16
@Tokazama: Tim has designed Images "version 2" two years ago exactly in such a way that the dependencies are minimalistic. Don't get blended from the number of packages involved, this is more a sign of good modularity. Actually this is why I want to push the discussion into making "ImageMetadata" standard format for storing complex files like nifti and dicom.

I don't have the bandwidth to contrib

[2018-10-16 22:54] Tokazama commented on #16
I'd be happy to put a bit of time into that.

[2018-10-17 09:28] korbinian90 opened #19 "Supporting read and write with large nifti files on disk"
The use case is very large nifti files (~100GB) that don't fit into RAM: Reading parts, writing parts and creating new images on disk.

The mmap option is really nice for reading them!

I managed to write to the `raw` field by just changing the read option from "r" to "r+" in `niread.`
The thing I am missing now is to create a large empty nifti file on the disk that I can open with `niread` as `mm

[2018-10-17 13:54] Tokazama commented on #19
I'm going to give you a fairly comprehensive answer from my perspective because I also need to point some of my colleagues to an answer relative to handling large amounts of NIfTI data in Julia.

## Current
If you need to directly write to a NIfTI format and *know what you're doing* I'd look [here](https://docs.julialang.org/en/v1/base/io-network/) to figure out how to do it on your own. If it's n

[2018-10-19 13:52] jcreinhold commented on #18
@Tokazama's PR seems to be merged so I'm closing this issue.

[2018-10-19 13:52] #18 closed

[2018-10-20 11:11] tknopp commented on #16
@Tokazama you should now have rights to make changes to this package. Best thing for new ideas is creating a branch and working there.

[2018-11-07 20:18] dawnsong opened #20 "Mmap issue for Julia version > 0.6.1"
Thanks for the NIfTI module.
For Julia v0.6.4, it is not compatible because of Mmap.
I think the code should be changed from

to

[2018-11-08 07:36] Tokazama commented on #20
The current release doesn't have that line in it, nor does it support anything under v0.7.  I'm sure it would be possible to add support for older versions but I think that enough of the package ecosystem is starting to converge on v1+ that it may be better to update at this point.

That being said, if you can't update for some reason you could always `Pkg.develop` an older release and implement t

[2018-11-08 16:45] dawnsong commented on #20
Thanks for the explanation. I am sticking to v0.6 since many packages are dependent on it.
I also look forward to all new updates, specially for the v1.0 releases.

[2018-11-08 16:45] #20 closed

[2019-02-17 18:18] korbinian90 opened #21 "bugs #tokazama-imagemeta"
First, the new NIfTI integration with JuliaImages looks awesome!
It looks to me like it's close to beeing finished, so here are the things that I saw when trying it:

I wasn't able to open my nifti files yet (not zipped), but I can open your sample files.
I found the following issues:

1. my NIfTI files have no units attached to them. When I open them following error results from multiplication wi

[2019-02-17 18:55] Tokazama commented on #21
Thanks for taking the time to look at all of this!

1. This seems reasonable to me.
2. This is definitely a typo, but I'm thinking about just reading straight to a dict and avoiding this exact function all together as I think it's unlikely enough people will be motivated to maintain a unique set of NIfTI like functions for a NIfTI header struct and ImageMeta. This is a great example, as a lot of s

[2019-04-16 22:19] tknopp commented on #21
@Tokazama: Any update on this? The design of this looks pretty good and I tested reading which seemed to work fine. Writing however not. I get `ERROR: UndefVarError: scl_sclope not defined` if I call `niwrite`.

[2019-04-17 13:20] tknopp commented on #21
@Tokazama: I am trying to get the tests running but ran into several issues.
- First it seems that there are several files that are not checked in. Could you add them?
- Then I needed to comment in fileio.jl but I get `LoadError: File{DataFormat{:UNKNOWN}}`
- The load functions seem to never call `niread`. Isn't that what they are supposed to do?

[2019-04-18 06:56] Tokazama commented on #21
Sorry for the delayed response. I'll take a look at this over the course of today.

[2019-04-19 11:29] Tokazama commented on #21
I'm working on fixing the errors mentioned here and writing better unit testing. I'll likely have something by the end of the day for further review. I'm also going to write down some details related to design choice and small changes I'll probably start working on https://github.com/JuliaIO/NIfTI.jl/issues/16. None of these should be user facing so it's likely of little concern to most.

[2019-04-19 20:37] tknopp commented on #21
Great. Isn't the branch already implementing #16? Or do you refer more to the standardized parameter naming within the ImageMetadata?

[2019-04-26 15:10] Tokazama commented on #16
tldr: I'm working on this again. It's not ready yet but it should be ready for heavy use very soon.

Apologies for the long wait on this. Classes and projects put this on hold for a while. Here are some of the major changes in the most recent update and what the reasoning behind them were.

1. Generic backend for image reading (ImageFormats): Once all the header information is in place the `ImageS

[2019-04-27 11:15] tknopp commented on #16
Great progress. Isn't NamesDims.jl just an alternative to AxisArrays.jl? The later also encodes the dim name with zero cost abstraction.

I am currently using NIfTI.jl here
https://github.com/MagneticResonanceImaging/MRIReco.jl/blob/master/src/IO/Nifti.jl#L9
in my MRI reconstruction package. There I need to create a NIfTI file "from scratch" although it possible to retrieve some additional metadat

[2019-04-27 11:34] Tokazama commented on #16
NamedDims.jl is supposed to be the future implementation of NamesDims.jl and have zero cost at compile time (see https://github.com/JuliaCollections/AxisArraysFuture/issues/1#issuecomment-484702271). I'm not sure if this will happen anytime soon, but the functionality I'd like to get out of it isn't necessary for most use cases, so that's a minor issue for now.

The goal is to have a generic inter

[2019-04-27 11:49] tknopp commented on #16
Ok, I missed that new direction for AxisArrays. Whatever is used in the end. Most important is that we agree on a single standard, so that this remains compatible throughout different packages.

Of what type should the `AbstractArray` be if I want to provide some control over how the data is stored? should / can ist be an `ImageMeta` that wraps an `AxisArray`? Will this store the pixelspacing and

[2019-04-27 12:16] Tokazama commented on #16
Yeah, `ImageMeta{T,N,<:AxisArray}` is probably the way to go. I'm trying to use the same syntax that is used in Images. I figure that no matter how AxisArrays develops in the future that working around these standard functions will be easiest. The orientation is acquired by calling `spacedirections`from ImageCore.

[2019-06-27 17:20] JohnAshburner opened #23 "getaffine bug?"
I've recently started dabbling with Julia and find the NIfTI module quite useful.  I hope you don't mind me feeding back any bugs as I find them.  One I've found so far is that the getaffine function should perhaps use pixdim[4], rather than bitpix[4].

    elseif h.qform_code == 0
        # Method 1
        return Float64[
             pixdim[2] 0         0          0 0
                       0 p

[2019-06-27 17:24] JohnAshburner opened #24 "feature request/change"
IMHO, it might be desirable to have getaffine  and setaffine generate and write matrices suitable for Julia's 1-based indexing.  The relevant fields of NIfTI headers are such that they work for 0-based indexing.  This would make using these matrices much easier within Julia.

I can understand if you are not interested in making such a change as it might break existing code.  Some have also critici

[2019-06-27 21:28] Tokazama commented on #24
I have an almost completely functional branch working where I've switched everything to 2 based indexing (including the phase/frequency dimensions). It's almost completely ready to be pushed to master with the exception of some issues with qform.

[2019-06-27 21:32] Tokazama commented on #21
It may be worth trying this all out again if your interested. You will need to explicitly add NIfTI to your File IO registry for now ( see the tests for how to do this). Im working on a couple more things to really stress test the new implementation and then it should be good to go.

[2019-07-05 21:26] tknopp commented on #21
I currently do not have the time to review so go ahead with merging, once you are confident with the design. I would be very interested in learning how to generate a nifti file from scratch. You have one load/ save example but this does not help, if one has just an array at hand.

[2019-09-06 07:17] vsaase opened #26 "Why are method2 and method 2 mutually exclusive?"
https://github.com/JuliaIO/NIfTI.jl/blob/a9e50b9f6ddf5e8b7c09fffdfe9a3d48a962c0fe/src/NIfTI.jl#L344

Hi, the nifti standard (https://nifti.nimh.nih.gov/nifti-1/documentation/nifti1fields/nifti1fields_pages/qsform.html) does'nt say that.

[2019-09-06 08:48] Tokazama commented on #26
You're correct. However, last I checked ITK only uses the sform. They may have changed this though. Either way we need to fix this.

[2019-09-06 19:40] jamesthesnake opened #28 "Is this still active?"
Haven't see development for a while?

[2019-09-06 19:59] Tokazama commented on #28
Yes and I'm hoping to get my branch ready for a pull request soon. I intended to finish it over the summer but my PhD program decided to give me a few surprises that kept me very busy.

In fact, I've spent the majority of today implementing the [Brain Imaging and Data Structure Format](https://bids.neuroimaging.io/) in another package as it turns out there are a variety of file extensions that NIf

[2019-09-06 20:41] Tokazama commented on #16
I figured there needed to be an update on this as my progress has been embarrassingly slow. Fortunately, I mostly just have to write a couple papers and work on this over the next two weeks. I actually was using my branch pretty heavily at one point (feeding thousands of images into a Flux model), so I don't expect there to be any major issues for people trying to do their day to day stuff. I've a

[2019-09-06 21:02] tknopp commented on #16
Hey, @Tokazama. Maybe it makes sense to chunk this a bit. I think 1. + some minimal form of documentation would be most important since it's the interface that people will rely on. Multithreading, 2. and 3. could perfectly follow afterwards.

If you are fine with the interface, tests are passing just go ahead merge and release.

[2019-09-07 12:02] Tokazama commented on #16
I agree. I want to get the first out the door ASAP. I'm putting together the BIDS stuff [here](https://github.com/Tokazama/BrainImagingDataStructurePlus.jl) for now. Right now I'm just outlining everything so that it doesn't have to be rewritten every time a new format is supported. I don't plan to actual finish any more than the MRI relevant specification before getting the NIfTI branch ready to

[2019-09-07 13:50] timholy commented on #16
I am sure you have seen [this](https://nifti.nimh.nih.gov/nifti-1/documentation/nifti1fields/nifti1fields_pages/magic.html). If it helps, you could add a [detection function to FileIO](https://github.com/JuliaIO/FileIO.jl/blob/602fa700a90770eec724f0a0f6d91a48c0229876/src/registry.jl#L212-L234) and then use its `query` interface.

[2019-09-08 17:39] Tokazama commented on #16
Yes I have. And that's useful for the vast majority of cases, but there's a whole slew of CIfTI formats that require "somename.unique_variant.nii" so it requires an additional parsing of the "unique_variant" portion in addition to detecting the "nii". This also tells us it's likely a NIfTI-2 format because CIfTI is exclusively NIfTI-2 format. There are also unique combinations where if you have a

[2019-09-11 11:48] vsaase opened #31 "bug with Integer valued niftis"
When creating a Integer valued nifti:
`ni = NIVolume(Int16.(round.(rand(2,2,2))))`
its type is
`NIVolume{Float32,3,Array{Int16,3}}`
I am not sure why, but it may have to do with the return type of getindex being Float32

Then when writing the nifti it becomes corrupted, as the header always says Float32 datatype

[2019-09-11 12:01] vsaase commented on #31
ok, the reason are the lines like
`NIVolume{typeof(one(T)*1f0+1f0),N,typeof(raw)}(header, extensions, raw)`

which then leads to niupdate corrupting the header

[2019-09-19 09:15] Tokazama commented on #16
BTW. My latest stuff is nearly ready to be merged to my branch and once those tests are passing I'll merge. The only hold up at this point is getting NamedDims, AxisArrays, etc. compatibility finalized.

[2019-09-19 10:51] timholy commented on #16
So we can look forward to merging in 2021? :smile: I should engage a bit more with that process, it's clearly important. So little time though...

[2019-09-19 12:08] Tokazama commented on #16
I'm finishing up a pretty thorough write up on how to move that ahead that I'll post to relevant channels  (hopefully today). I have to finish a fairly important analysis today, but once that's finished I'll push stuff to my branch. It probably won't work outside of my local packages without a the array stuff in place, but at least people could take a look at the method names and syntax so that we

[2019-09-21 16:48] tknopp commented on #16
Hey @tanmaykm,

One of the prime reason I am looking forward to your work being merged is that I would like to get rid of a custom Nifti writer that I have once written. I have moved the (ugly) code to a public location:

https://github.com/tknopp/ImageUtils.jl/blob/master/src/AnalyzeNifti.jl

I now have some questions. My Type is an `ImageMeta{...AxisArray}`. The ImageMeta contains the extra stuf

[2019-09-22 13:52] Tokazama commented on #16
I'll push something to my branch by the end of the night. It's likely not going to work because I need to get some other packages working with it first, but it should be a good place to start. In other words most of what I have for NIfTI.jl is ready but its dependencies aren't.

1. The unit of the dimension appears to be spatial or time right? This will be/is supported through Unitful.
2. I'm usin

[2019-10-03 11:15] tknopp commented on #16
yes, it is space and time. Its important to get this into a canonical form before writing. If an axis has no unit but is spatial (x,y,z) then it would be great if you would consider this to be meters, time should be seconds.

That sounds great. But I a wondering: what will the object look like when I am reading a NIfTI file? Will it be a nifty specific type? If yes, will there be a conversion into

[2019-12-17 02:59] Tokazama commented on #16
I apologize for the terrible response time on this. I was hoping to get the array interface resolved but I think there was some loss of momentum in the community on that. I'll just get AxisArrays working for now.

As for concerns about the trait system and knowing exactly what will be returned I have started on this https://github.com/JuliaNeuroscience/NeuroCore.jl/pull/1. It probably won't match

[2019-12-17 11:17] tknopp commented on #16
ISMRMRD is a raw data format so its not so relevant here. What I am looking for is an abstraction layer above DICOM / NiFTi. and ideally one has a bi-directional mapping between the files and its Julia representation. Is that what you are aiming for with NeuroCore.jl? Any reason this is specific to Neuro?

[2019-12-17 11:28] Tokazama commented on #16
Yes, the idea is to have family of dedicated methods where the return value is known ahead of time (e.g., type stable).

This is being discussed in the first big PR. There are obviously a lot of components that are not neuro specific that make up the BIDS standard I'm trying to use. I would be happy to have NeuroCore be strictly neuroscience related traits, but then other packages would have to ch

[2019-12-17 11:34] tknopp commented on #16
What is BIDS? Maybe I just did not get the background right here.

[2019-12-17 11:45] Tokazama commented on #16
[Brain Imaging Data Standard](https://bids.neuroimaging.io/). I wouldn't pay too much attention to another group trying to push their standard but a lot of software is beginning to incorporate it and a lot of the well funded projects now expect their software to follow it. It doesn't have complete coverage of neuroinformatic modalities but there are quite a few that are actively being worked on [h

[2020-05-03 07:16] DilumAluthge opened #37 "Transfer to the JuliaHealth organization?"
Any objection to moving this repo to the JuliaHealth organization?

cc: @Tokazama
cc: @simonster
cc: @notZaki
cc: @ViralBShah

See also: https://github.com/JuliaIO/DICOM.jl/issues/48

[2020-05-03 12:49] Tokazama commented on #37
I'm fine with this. It will actually probably be good to have an org where it could get more attention.

[2020-05-03 13:29] Tokazama commented on #37
I should also note that I made JuliaNeuroscience that may be a more appropriate place for it

[2020-05-03 19:05] DilumAluthge commented on #37
Either seems fine! I agree that a more domain-specific org will be better for it than the IO org.

I've added JuliaNeuroscience to the list (https://juliahealth.org/related-organizations/) which will hopefully also increase discoverability.

[2020-05-22 09:07] korbinian90 opened #38 "Feature request: Reading and writing Bool datatype"
Support for reading of the NIfTI datatype DT_BINARY and writing of AbstractArray{Bool} and BitArray is currently missing.

I added it (with tests) and will make a pull request.

Another question: Is there still work on a new version of NIfTI.jl? If so, it would be awesome if it would be publicly available for using, testing and improving it.

[2020-05-26 12:37] Tokazama commented on #38
I tried to register a new release but there seems to be an error with the uuid. I'll look into this more.

If people would like me to I could update the branch but I have a lot of stuff that is hacky right now. I'm trying to complete the public API for AxisIndices.jl this week, which will finish the majority of work. Then I need to update NeuroCore.jl (which should be significantly simpler with Ax

[2020-05-28 10:04] korbinian90 commented on #38
Thank you for merging and for the status update on NIfTI.jl.
The plans for NIfTI.jl (with NeuroCore.jl and AxisIndices.jl) sound great!

[2020-05-28 10:04] #38 closed

[2020-08-14 15:39] tknopp commented on #37
Whatever is decided: DICOM.jl and NIfTI.jl should be in the same organization.

[2020-08-14 15:50] DilumAluthge commented on #37
DICOM.jl now lives in JuliaHealth: https://github.com/JuliaHealth/DICOM.jl

We'd be happy to accept NIfTI.jl into JuliaHealth.

Let me know if you want to be added as a member of JuliaHealth, or if you need additional permissions to transfer repositories.

[2020-08-14 16:16] ViralBShah commented on #37
Go for it!

[2020-08-14 16:22] tknopp commented on #37
I think @Tokazama should make the final decision. I am just here as user that regularly looks by here to wait until @Tokazama awesome overhauled implementation lands to master.

[2020-08-14 16:24] Tokazama commented on #37
My only hesitation with transferring it to JuliaHealth is that it NIfTI is a neuro specific format that isn't commonly used outside of research. If JulaiHealth includes any physiologically related package then the  GIFTI and CIFTI formats as well as the 10+ neurophysiology related formats should be supported by packages under JuliaHealth. I know that the the JuliaHealth description says "We use th

[2020-08-14 16:31] tknopp commented on #37
I use NifTI as a general replacement for DICOM in the context of tomographic imaging, independent if neuro or not (but I am of course aware of the origins of NIfTI). So JuliaHealth is fine IMHO.
Independent of the organization I am more eagerly waiting that this package actually gets into a better shape, which is once your work lands ;-)

[2020-08-14 16:39] DilumAluthge commented on #37
@Tokazama It's entirely up to you!

Based on this description, probably the repo would be better suited for JuliaNeuroscience?

[2020-08-14 16:41] DilumAluthge commented on #37
I do think it will fit better in JuliaNeuroscience than JuliaIO.

That way you can centralize all of the neuroscience research-specific file formats in JuliaNeuroscience.

[2020-08-15 16:17] Tokazama commented on #37
Sounds good. I don't think I have permissions to transfer repos from JuliIO. Do I need to give someone someone permissions for JuliaNeuroscience?

[2020-11-11 15:52] Tokazama commented on #37
@tknopp , I think you have owner permissions for this repo. Would you like me to provide you with access to JuliaNeuroscience so that you can transfer the repo?

[2020-11-11 15:54] tknopp commented on #37
I can do so

[2020-11-11 16:05] tknopp commented on #37
done :-)

[2020-11-11 16:11] tknopp commented on #37
I actually have no rights to close this anymore :-) @Tokazama Habe you rights?

[2020-11-11 17:14] Tokazama commented on #37
Thanks! You should also have write access now too.

[2020-11-11 17:14] #37 closed

[2020-11-21 17:20] JuliaTagBot opened #44 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2020-11-21 17:20] #44 closed

[2020-11-24 07:26] yeruoforever opened #45 "Maybe a function is needed here to just read the header information"
I am currently analyzing a lung CT data set. A simple task is to obtain the pixel spacing of the image for statistics. When I use niread(), I have to wait for an entire image array to be read from the disk, but The current work only needs to read the header information instead of a complete image array (NIVolume.raw), which seems to take a lot of unnecessary time, especially when this data set con

[2020-11-24 09:10] korbinian90 commented on #45
You can try with
[code]
This opens the data as a memory mapped file, only reading the array from disk, when you actually access it. You can also open larger files than your memory with that. But I'm not sure if it works with compressed files.

[2020-11-25 02:33] yeruoforever commented on #45
It does not work on gzip files.It throws an error at this [line](https://github.com/JuliaNeuroscience/NIfTI.jl/blob/master/src/NIfTI.jl#L504).
[code]

[2020-11-28 05:09] Tokazama commented on #45
We need to separate some of the processes here and have something like `niload(f::AbstractString) -> IOMeta` and `read(::IOMeta) -> AbstractArray`. It will take a little reworking because the whole I/O routine is pretty inflexible at the moment.

[2020-12-08 18:55] PetrKryslUCSD opened #46 "Confused about constructor"
Why does the constructor not refer to the type of the element of `raw`?
 The lines https://github.com/JuliaNeuroscience/NIfTI.jl/blob/704f7c8576abe244dff3ec31a72be393b11e10d9/src/NIfTI.jl#L152, https://github.com/JuliaNeuroscience/NIfTI.jl/blob/704f7c8576abe244dff3ec31a72be393b11e10d9/src/NIfTI.jl#L153
create the volume of type `Float32` instead of `T`. Shouldn't this be
[code]

[2020-12-08 19:07] PetrKryslUCSD commented on #46
Okay, now I realized there was another issue about this: https://github.com/JuliaNeuroscience/NIfTI.jl/issues/31

[2020-12-08 23:54] PetrKryslUCSD commented on #31
@vsaase I found essentially the same bug. My solution is different though. I wonder why you solved it the way you did?
What would be the advantage relative to my proposal? (Just wondering if I should chuck mine, in case yours is superior.)

[2020-12-09 12:05] Tokazama commented on #31
I'm tempted to drop the whole distinction between "raw" and actual data type. That would make fixing this straightforward. Thoughts?

[2020-12-09 15:40] PetrKryslUCSD commented on #31
I am not clear on whether this distinction reflects something in the description of the format or not. If it doesn't, it would certainly make things more straightforward if the implementation did not distinguish.

[2020-12-09 16:22] Tokazama commented on #31
Technically there are two values for adding and multiplying the raw data. These serve to minimize the file size if you don't have enough unique values to
need a Float64. I'm pretty sure this was developed with Matlab in mind where it can be painful to manage that manually.

[2021-01-05 15:21] itan1 opened #47 "ArgumentError: invalid open mode: w9"
When using niwrite() to write a .nii.gz file I get the error:

[code]
Probably because the open mode is still "w9" from before, when gzopen() was used instead of open().

[2021-01-07 14:43] #47 closed

[2021-04-07 23:09] yoons1 opened #53 "Bug in getaffine function"
There is a bug in the function getaffine (in src/NIfTI.jl:193)

        return vcat(hcat(A*B

should be

        return vcat(hcat(A.*B,

[2021-04-08 13:12] #53 closed

[2021-04-08 13:19] Tokazama commented on #53
@yoons1, Thanks for opening an issue. I've just registered a new patch release that should fix this. Feel free to open another issue if you still have problems.

[2021-06-16 18:08] Dale-Black opened #55 "Reorient based on RAS/LPI"
Is there a way to reorient the NIfTI volumes using the affine matrix `getaffine` and axcodes like RAS?

[2021-06-17 15:12] Tokazama commented on #55
I have a script for that that I could make a PR for. I was waiting to submit it until I could formally incorporate it into the dimension names, but I've been inundated with additional projects lately, so whatever I put in there now will probably be subject to change in the future.

[2021-06-17 20:08] Dale-Black commented on #55
Let me know if you add a PR because that would definitely help me get started. Hopefully, it's something I could help polish if I am able to understand it enough

[2021-08-31 20:40] abrandberg commented on #31
Hi and thank you for a nice package.

I stumbled into this type of problem and found that @PetrKryslUCSD 's solution in #46 solved it for me. If it does not break anything, it would be fantastic if his suggestion could be added to the package.

[2021-09-13 15:58] Tokazama commented on #31
I'm going to be making a fairly breaking change here soon that will fix this. I'm mostly getting dependencies registered and working.

[2021-09-18 17:16] yingqiuz opened #57 "Files written by niwrite are corrupted"
Hi

When I was using `niwrite` to save `*nii.gz` ir `*.nii` files, they seemed to be corrupted consistently.

The version infos are shown below:
[code]
The command used to work fine, but since last week I always received this error when accessing the files newly written by `niread`, even if I just read a NIfTI file and saved it immediately (though in REPL it complained about nothing):
[code]

The

[2021-09-19 00:02] Tokazama commented on #57
What kind of image was "mask.nii.gz"? Just ones and zeros?

[2021-09-21 20:26] yingqiuz commented on #57
Ones and zeros. But the files were corrupted whatever the datatype was.

[2021-09-24 23:50] Tokazama commented on #57
But were the ones and zeros `Int` or `Bool`. This seems like a problem in counting memory size on file writing but we do something unique with `Bool` arrays to save memory so what type this is affects where the issue is coming from.

[2022-02-18 20:48] effigies opened #61 "Consider making it difficult to make (u)int64 NIfTI images"
Hi all, over in the NIPY world, we've just decided to deprecate (u)int64 support in NIfTI: https://github.com/nipy/nibabel/issues/1089

Basically nobody else (AFNI, FSL, SPM) supports them, and there's no compelling use case for them, but they're easy to make in Python if you aren't paying careful attention to types, so we're going to be making it hard to do unintentionally. Not sure if your techn

[2022-02-19 00:36] Tokazama commented on #61
FSL doesn't support Int64?

[2022-02-19 01:04] effigies commented on #61
Not according to https://nifti.nimh.nih.gov/nifti-1/support/FSLandNIfTI1. It's possible that it's changed since 2007, but it is also not a very sensible data type (Generally you want integers for labels/masks or to compress files by using scale factors), so adding support would be pretty low priority. FSLeyes will support them, but that's because it's written in Python with nibabel as its I/O laye

[2022-03-19 10:56] ofgulban commented on #57
I have the same "file corrupted" for INT16 images.

[2022-03-19 11:20] ofgulban commented on #31
I am having the same problem with integer valued niftis. #57 #46 seems to be related to the same issue.

[2022-03-20 00:27] Tokazama commented on #31
Sorry I haven't had time to fix this. I'm not sure if I'll have time to figure it out for a couple weeks but if someone makes a PR I could take a look

[2022-09-25 13:57] korbinian90 opened #64 "InexactError: Int16(..) when accessing NIfTI with rescale_slope"
Since the 0.5.8 release, the addition of Int16 has somehow corrupted the previously working behavior.
From reading an Int16 file, the datatype
`NIVolume{Int16, 4, Array{Int16, 4}} <: AbstractArray{Int16, 4} <: Any`
is created. Previously, it was
`NIfTI.NIVolume{Float32, 4, Array{Int16, 4}} <: AbstractArray{Float32, 4} <: Any`
Reading the Int16 array with a scaling factor seems to violate the `Abst

[2022-10-21 09:24] pfuchs commented on #57
This error seems to come up with both ```Int16``` as well as ```Bool``` volumes on my end. ```Int32``` does not have this issue, and all ```Floats``` seem to be fine.

[2022-10-21 11:46] Tokazama commented on #57
Apparently the last PR broke Int16, even though it was specifically aimed at supporting it. What would be really helpful is if we had self contained tests to ensure this sort of thing doesn't happen for specific bit types. If someone could make a PR addressing at least part of this I can make sure to review it so this actually starts getting fixed